body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5vw;
}

.base {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#login-button {
  width: 100% !important;
  justify-content: start;
  border-radius: unset;
}

.label {
  color: #9b9797;
}

.input {
  background-color: #f5f3f3;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.password_field {
  display: flex;
  justify-content: space-between;
}
.password_field a {
  float: right;
  font-weight: 500;
  margin-bottom: 0.5em;
  font-size: 1.08em;
  color: #6a16c7;
}

.wrapper {
  display: flex;
  padding: 15vh 0;
  gap: 15vh;
}
@media (width <= 700px) {
  .wrapper {
    flex-direction: column;
  }
}

@media (width >= 700px) {
  .image-wrapper {
    max-width: 50%;
  }
}

.form-wrapper {
  width: 100%;
}

footer {
  margin-top: auto;
  text-align: center;
  color: #9b9797;
  padding-bottom: 5vmin;
}
@media (width <= 700px) {
  footer {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
